@model CourseDesignViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="category-heading mb-3">Edit course design</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="col-md-6 pl-0">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <input type="hidden" asp-for="CourseDesign.CourseDesignId" />
                <div class="form-group">
                    <label asp-for="CourseDesign.Name" class="control-label"></label>
                    <input asp-for="CourseDesign.Name" class="form-control" />
                    <span asp-validation-for="CourseDesign.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDesign.Description" class="control-label"></label>
                    <input asp-for="CourseDesign.Description" class="form-control" />
                    <span asp-validation-for="CourseDesign.Description" class="text-danger"></span>
                </div>
            </div>
            
            <div>
                <hr />
                <p><b>Add seminars</b></p>
                <div class="form-inline">
@for (int i = 0; i < Model.CheckList.Count; i++)
{
                    <div class="col align-self-start">
                        <div class="form-inline">
                            <label asp-for="@Model.CheckList[i].Name" class="category-heading ml-0 mr-1 mb-3">@Model.CheckList[i].Name</label>
                            <input type="checkbox" asp-for="@Model.CheckList[i].IsSelected" class="custom-checkbox mr-3 mb-3" />
                            <input type="hidden" asp-for="@Model.CheckList[i].Id" />
                            <input type="hidden" asp-for="@Model.CheckList[i].Name" />
                        </div>
                        <dl>
    @foreach (var sd in Model.Seminars[i].SeminarDays)
    {
                            <dd><b>@sd.Day.Name</b></dd>
                            <dd>
        @foreach (var daySub in sd.Day.DaySubjects)
        {
                                <span>@daySub.Subject.Name </span>
        }
                            </dd>
    }
                        </dl>
                    </div>
}
                    <hr />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" href="previous.html" onClick="history.back();return false;">Back</a>
                <a asp-controller="Seminar" asp-action="Create" class="btn btn-primary">Create new seminar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
