@model VocalSchool.Models.Seminar

@{
    ViewData["Title"] = "Details";
}

<h4 class="category-heading mb-3">Seminar details</h4>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<hr />
<div>
    <table>
        <thead>
            <tr>
                <th>Contains day</th>
                <th>with subjects</th>
            </tr>
        </thead>
        <tbody>
@foreach (var semDay in Model.SeminarDays)
{
            <tr>
                <td>@semDay.Day.Name</td>
                <td>
    @foreach (var daySub in semDay.Day.DaySubjects)
    {
                    @daySub.Subject.Name <span>&nbsp;</span>
    }
                </td>
            </tr>
}
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.SeminarId" class="btn btn-primary">Edit</a>
    <a class="btn btn-primary" href="previous.html" onClick="history.back();return false;">Back</a>
</div>
