@model List<Day>

@{
    ViewData["Title"] = "Days";
}

<h4 class="category-heading mb-3">Days</h4>

<div>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create new day</a>
    </p>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th width="10%">Day</th>
            <th width="40%">Description</th>
            <th width="25%">Subjects</th>
            <th width="35%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td><td>
                @item.Description
            </td>
            <td>
    @foreach (var sub in item.DaySubjects)
    {
            <span>@sub.Subject.Name &nbsp;</span>   
    }
            </td>
   
            <td>
                <a asp-action="Edit" asp-route-id="@item.DayId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DayId">Delete</a> 

            </td>
        </tr>
}
    </tbody>
</table>
